"*":
  "exception-reporting":
    userId: "ea2d1a54-8885-0e64-ac87-0ff795992222"
  welcome:
    showOnStartup: false
  linter:
    ignoredLinterErrors: [
      "haml-lint"
    ]
    showErrorPanel: false
  core:
    disabledPackages: [
      ".bin"
      "welcome"
      "linter-pylama"
      "linter-rubocop"
    ]
    projectHome: "/Users/alban/Desktop/sharette/*"
    destroyEmptyPanes: false
  editor:
    invisibles: {}
    fontSize: 12
    showIndentGuide: true
  "circle-ci":
    apiToken: "e64221b3c30d89563881112bdc838acb35755178"
    iconColor: true
  "atom-typescript": {}
  "autocomplete-plus":
    strictMatching: true
  "merge-conflicts": {}
  minimap:
    plugins:
      "highlight-selected": true
    absoluteMode: true
  tabs:
    usePreviewTabs: true
    enableVcsColoring: true
  "tree-view": {}
  "toggle-quotes": {}
  "go-plus":
    goPath: "~/.gopath"
  "one-dark-ui": {}
  "atom-beautify":
    _analyticsUserId: "92c98638-9a30-431f-9f00-7769e2e6b7e3"
  "color-picker":
    preferredFormat: "HEX"
  "linter-rubocop": {}
  "linter-scss-lint":
    executablePath: "/Users/alban/.gem/ruby/2.2.2/bin/scss-lint"
  "linter-tslint": {}
  "aligner-scss": {}
  rspec:
    command: "docker run -e SHRUN_ENV=development --rm -v /app/backend:/home/sharette/app -v /opt/ejson/keys:/opt/ejson/keys:ro -u root --cap-add=SYS_ADMIN -e SHRUN_USER=sharette -t sharette/backend:latest rspec"
    save_before_run: true
    spec_directory: "./blu"
  "rspec-tree-runner":
    rubyPathCommand: "docker run -e SHRUN_ENV=development --rm -v /app/backend:/home/sharette/app -v /opt/ejson/keys:/opt/ejson/keys:ro -u root --cap-add=SYS_ADMIN -e SHRUN_USER=sharette -t sharette/backend:latest ruby"
    rspecPathCommand: "docker run -e SHRUN_ENV=development --rm -v /app/backend:/home/sharette/app -v /opt/ejson/keys:/opt/ejson/keys:ro -u root --cap-add=SYS_ADMIN -e SHRUN_USER=sharette -t sharette/backend:latest rspec"
  "project-manager": {}
  "linter-pylama":
    configFileLoad: "Find config in the current directory"
