backend:
  title: "backend"
  paths: [
    "/Users/alban/Desktop/sharette/backend"
  ]
routing:
  title: "routing"
  paths: [
    "/Users/alban/.gopath/src/github.com/sharette/routing"
  ]
ratp:
  title: "ratp"
  paths: [
    "/Users/alban/.gopath/src/github.com/sharette/ratp"
  ]
'go-web':
  title: "go-web"
  paths: [
    "/Users/alban/.gopath/src/github.com/sharette/go-web"
  ]
geo:
  title: "geo"
  paths: [
    "/Users/alban/.gopath/src/github.com/sharette/geo"
  ]
infrastructure:
  title: "infrastructure"
  paths: [
    "/Users/alban/Desktop/sharette/infrastructure"
  ]
mobile:
  title: "mobile"
  paths: [
    "/Users/alban/Desktop/sharette/mobile"
  ]
gtfs:
  title: "gtfs"
  paths: [
    "/Users/alban/.gopath/src/github.com/sharette/gtfs"
  ]
'core-assets':
  title: 'core-assets'
  paths: [
    "/Users/alban/Desktop/sharette/core-assets"
  ]
