[alias]
  # Simple shortcut
  ci = commit
  co = checkout
  br = branch
  st = status
  ts = status
  pr = pull-request
  cp = cherry-pick
  # merge without fast forward
  noff = merge --no-ff
  # delete branch already merger into master
  roomba = "!git checkout -q $(git dfb) && git pull && git branch --merged $(git dfb) | grep -v $(git dfb) | grep -v '\\*' | xargs -r -n 1 git branch -d"
  # get default branch
  dfb = "!git branch -r --points-at refs/remotes/origin/HEAD | grep '\\->' | cut -d' ' -f5 | cut -d/ -f2"
	recent-branches = ! git for-each-ref --sort=-committerdate --format='%(authorname),%(color:bold yellow)%(refname:short)%(color:reset) (%(color:bold magenta)%(committerdate:relative)%(color:reset)) %(color:cyan)%(objectname:short)%(color:reset) - %(color:dim white)%(contents:subject)%(color:reset)' --color=always refs/heads/ | grep Kohlbecker | cut -d, -f2 | head -n10

[core]
  # Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[column]
  ui = auto
[fetch]
  prune = true
  pruneTags = true
  all = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[pull]
  rebase = true
[credential]
  helper = osxkeychain
[help]
  autocorrect = prompt
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[commit]
	gpgsign = true
  verbose = true
[gpg]
	program = gpg
	format = ssh
[user]
	name = Adrien Kohlbecker
	email = adrien.kohlbecker@gmail.com
	signingkey = ~/.ssh/id_rsa.pub
[init]
	defaultBranch = master
[merge]
  log = true
  conflictstyle = zdiff3
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[rerere]
  enabled = true
  autoupdate = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[include]
  path = ~/.gitconfig.local
