"*":
  "advanced-open-file":
    createFileInstantly: true
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-beautify":
    general:
      _analyticsUserId: "af33be49-76a1-4640-9245-e811abbe788d"
  "atom-typescript":
    preferredQuoteCharacter: "\""
  autosave:
    enabled: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "minimap-highlight-selected"
      ".bin"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/ak/Desktop"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "afterglow-like"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Meslo LG S"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "88008823-3674-434c-c1a3-d88dcfdb6dad"
  "find-and-replace": {}
  "fuzzy-finder":
    preserveLastSearch: true
  "git-diff": {}
  "go-config":
    gopath: "~/.gopath"
  "go-plus":
    config:
      gopath: "~/.gopath"
    currentPanelHeight: "22.467532467532468vh"
    goPath: "~/.gopath"
    test:
      coverageDisplayMode: "gutter"
      coverageHighlightMode: "covered"
      runTestsOnSave: false
  "gometalinter-linter":
    args: [
      "--vendor"
      "--disable-all"
      "--enable=vet"
      "--enable=vetshadow"
      "--enable=golint"
      "--enable=ineffassign"
      "--enable=goconst"
      "--tests"
      "--json"
      "--exclude=unexported"
      "."
    ]
  linter: {}
  "linter-erb": {}
  "linter-flake8":
    configFileNames: [
      "tox.ini"
    ]
    executablePath: "/usr/local/bin/flake8"
    ignoreErrorCodes: [
      "E251"
      "E221"
      "E272"
      "E501"
    ]
  "linter-haml":
    hamlLintExecutablePath: "/Users/ak/.gem/ruby/2.3.1/bin/haml-lint"
  "linter-haml-lint":
    hamlLintExecutablePath: "/usr/bin/haml-lint"
  "linter-jsonlint": {}
  "linter-pep8":
    ignoreErrorCodes: [
      "E251"
      "E221"
      "E272"
      "E501"
    ]
    pep8ExecutablePath: "/usr/local/bin/pep8"
  "linter-pyflakes":
    pyflakesExecutablePath: "/usr/local/bin/pyflakes"
  "linter-pylama":
    executablePath: "/usr/local/bin/pylama"
    ignoreErrorsAndWarnings: "E251,E221,E272,E501,D100,E201,E202,D101,D102"
  "linter-python-pep8":
    ignoreErrorCodes: "E251, E221"
    pep8DirToExecutable: "/usr/local/bin/"
  "linter-python-pyflakes":
    pyflakesDirToExecutable: "/usr/local/bin/"
  "linter-rubocop":
    command: "/Users/ak/.gem/ruby/2.4.0/bin/rubocop"
  "linter-ruby": {}
  "linter-scss-lint":
    executablePath: "/Users/ak/.gem/ruby/2.3.1/bin/scss-lint"
  "linter-shellcheck":
    enableNotice: true
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
    userParameters: "-x"
  "linter-tslint":
    tslintExecutablePath: "/usr/local/bin/tslint"
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  pigments:
    mergeColorDuplicates: true
  "project-manager":
    sortBy: "title"
  "spell-check": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tester-go":
    runCoverageOnSave: true
  "toggle-quotes": {}
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
"file-types":
  cfg: "source.ini"
