laptop:
  title: "laptop"
  paths: [
    "/Users/ak/Desktop/laptop"
  ]
dotfiles:
  title: "dotfiles"
  paths: [
    "/Users/ak/"
  ]
google_play:
  title: "google-play"
  paths: [
    "/Users/ak/.gopath/src/gitlab.kohlby.fr/adrienkohlbecker/google-play"
  ]
m3u:
  title: "m3u"
  paths: [
    "/Users/ak/.gopath/src/gitlab.kohlby.fr/adrienkohlbecker/m3u"
  ]
hypervisor:
  title: "hypervisor"
  paths: [
    "/Users/ak/Desktop/hypervisor"
  ]
compta:
  title: "compta"
  paths: [
    "/Users/ak/Desktop/compta"
  ]
kohlby:
  title: "kohlby"
  paths: [
    "/Users/ak/Desktop/kohlby"
  ]
ci:
  title: "ci"
  paths: [
    "/Users/ak/.gopath/src/gitlab.kohlby.fr/adrienkohlbecker/ci"
  ]
shr:
  title: "shr"
  paths: [
    "/Users/ak/.gopath/src/gitlab.kohlby.fr/adrienkohlbecker/shr"
  ]
sensors:
  title: "sensors"
  paths: [
    "/Users/ak/.gopath/src/github.com/adrienkohlbecker/sensors"
  ]
"ejson-kms":
  title: "ejson-kms"
  paths: [
    "/Users/ak/.gopath/src/github.com/adrienkohlbecker/ejson-kms"
  ]
travelmeet:
  title: "travelmeet"
  paths: [
    "/Users/ak/Desktop/travelmeet"
  ]
vagrant_fsnotify:
  title: "vagrant-fsnotify"
  paths: [
    "/Users/ak/Desktop/vagrant-fsnotify"
  ]
sms:
  title: "sms"
  paths: [
    "/Users/ak/Dropbox/Applications/SMSBackupRestore"
  ]
